<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thymeleaf and photo view Demo Pages</title>
</head>
<body>
	<th:block th:if="${isDebug} == false">
	Please Set your params of 'DEBUG_MOD' as 'Y' of properties.
	if you do so and still got trouble, please check your console.
	</th:block>
	<th:block th:unless="${isDebug} == false">
	Here's your Info <br><br>
		<thead>
			<tr>
				<th>ID_FOR_TEST</th>
				<th>RES</th>
				<th>RETRIVED_DIR</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${ConnectedInfos}">
				<td><span th:text="*{ID}?: 'unknown'"></span>
				<td><span><img src="*{dir}?: 'unknown'" width="100" height="100"></span>
				<!-- <td><span th:text="*{dir}?: 'unknown'"></span> -->
		</tbody>
	</th:block>
</body>
</html>